<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="计算器"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.test.little.handle_change">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.little.saved">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.little.Dark_intent_1">
            <intent-filter>
                <action android:name="com.example.dark.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.dark.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.little.Dark_intent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.little.Intent_2" />
        <activity android:name="com.test.little.Intent_1" />
        <activity android:name="com.test.little.Intent_0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.calculator.calculator_other">
            <intent-filter>
                <action android:name="com.example.other.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.other.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name="com.calculator.calculator_change" />
        <activity android:name="com.calculator.calculator_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.little.toast">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>